@page "/persons/{Id}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]
@attribute [Authorize]

@if (Model == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <h3>@Model.FirstName - @Model.LastName</h3>
    <p>
        <div>
            <label>DateOfBirth</label>
            <b>@Model.DateOfBirth</b>
        </div>
        <div>
            <label>PersonalEmail</label>
            <b>@Model.Email</b>
        </div>
    </p>
    <div>
        <button class="btn btn-primary" @onclick="() => currentTab = 1">Registrer timer</button>
        <button class="btn btn-secondary" @onclick="() => currentTab = 2">Registrer endringsordre</button>
    </div>
    <hr />

}

@using Mesta.CompetenceManagement.Domain
@using Mesta.ProjectManagement.Domain
@using Mesta.ProjectManagement.Features.Projects
@using Mesta.ProjectManagement.Features.Projects.Get
@using Microsoft.AspNetCore.Authorization

@inject NavigationManager NavigationManager

@code {

    [Parameter]
    public string Id { get; set; }

    private Person Model;

    int currentTab = 0;

    protected override async Task OnInitializedAsync()
    {
    }

}